<nav style="background-color: #fecd1a; padding: 10px;">
    <ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden;">
        <li style="float: left; margin-right: 20px;">
            <%= link_to "Home", root_path, style: "text-decoration: none; color: black;" %>
        </li>
        <li style="float: left; margin-right: 20px;">
            <%= link_to "Menu", menu_path, style: "text-decoration: none; color: black;" %>
        </li>
        <li style="float: left; margin-right: 20px;">
            <%= link_to "Order", order_path, style: "text-decoration: none; color: black;" %>
        </li>
        <li style="float: left;">
            <%= link_to "Confirmation", confirmation_path, style: "text-decoration: none; color: black;" %>
        </li>
    </ul>
</nav>

<h1>Order Confirmation</h1>

<% if @order %>
    <table style="margin: 0 auto; text-align: center;" border="1">
        <tr>
            <th>Flavor</th>
            <th>Toppings</th>
            <th>Size</th>
            <th>Sugar Level </th>
            <th>Ice Amount </th>
        </tr>
        <tr>
            <td> <%= @order.flavor %></td>
            <td> <%= @order.toppings%></td>
            <td> <%= @order.size%></td>
            <td> <%= @order.sugar %></td>
            <td> <%= @order.ice %></td>
        </tr>
    </table>
<% else %>
    <p> No order found. </p>
<% end %> 