<nav style="background-color: #fecd1a; padding: 10px;">
    <ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden;">
        <li style="float: left; margin-right: 20px;">
            <%= link_to "Home", root_path, style: "text-decoration: none; color: black;" %>
        </li>
        <li style="float: left; margin-right: 20px;">
            <%= link_to "Menu", menu_path, style: "text-decoration: none; color: black;" %>
        </li>
        <li style="float: left;">
            <%= link_to "Order", order_path, style: "text-decoration: none; color: black;" %>
        </li>
    </ul>
</nav>

<h1>Our Menu</h1>

<table style="width: 100%; border-spacing: 5px; margin: 0;">
    <tr>
        <td style="text-align: center;">
            <%= image_tag "classic_black_milk_tea.png", style: "max-height: 300px;"%><br>
            <strong>Classic Black Milk Tea</strong>
        </td>
        <td style="text-align: center;">
            <%= image_tag "jasmine_green_milk_tea.png", style: "max-height: 300px;"%><br>
            <strong>Jasmine Green Milk Tea</strong>
        </td>
        <td style="text-align: center;">
            <%= image_tag "oolong_milk_tea.png", style: "max-height: 300px;"%><br>
            <strong>Oolong Milk Tea</strong>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <%= image_tag "thai_milk_tea.jpg", style: "max-height: 300px;"%><br>
            <strong>Thai Milk Tea</strong>
        </td>
        <td style="text-align: center;">
            <%= image_tag "taro_milk_tea.jpg", style: "max-height: 300px;"%><br>
            <strong>Taro Milk Tea</strong>
        </td>
        <td style="text-align: center;">
            <%= image_tag "matcha_milk_tea.png", style: "max-height: 300px;"%><br>
            <strong>Matcha Milk Tea</strong>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <%= image_tag "honeydew_milk_tea.jpg", style: "max-height: 300px;"%><br>
            <strong>Honeydew Milk Tea</strong>
        </td>
        <td style="text-align: center;">
            <%= image_tag "wintermelon_milk_tea.jpeg", style: "max-height: 300px;"%><br>
            <strong>Wintermelon Milk Tea</strong>
        </td>
        <td style="text-align: center;">
            <%= image_tag "hokkaido_milk_tea.png", style: "max-height: 300px;"%><br>
            <strong>Hokkaido Milk Tea</strong>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <%= image_tag "okinawa_milk_tea.jpg", style: "max-height: 300px;"%><br>
            <strong>Okinawa Milk Tea</strong>
        </td>
        <td style="text-align: center;">
            <%= image_tag "almond_milk_tea.jpeg", style: "max-height: 300px;"%><br>
            <strong>Almond Milk Tea</strong>
        </td>
        <td style="text-align: center;">
            <%= image_tag "coconut_milk_tea.jpeg", style: "max-height: 300px;"%><br>
            <strong>Coconut Milk Tea</strong>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <%= image_tag "coffee_milk_tea.jpeg", style: "max-height: 300px;"%><br>
            <strong>Coffee Milk Tea</strong>
        </td>
        <td style="text-align: center;">
            <%= image_tag "rose_milk_tea.jpeg", style: "max-height: 300px;"%><br>
            <strong>Rose Milk Tea</strong>
        </td>
        <td style="text-align: center;">
            <%= image_tag "brown_sugar_milk_tea.jpg", style: "max-height: 300px;"%><br>
            <strong>Brown Sugar Milk Tea</strong>
        </td>
    </tr>
</table>